.storybackground{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/public/img/Ourstory/ourstorybg.png");
}
.homeMyStoryHeading{
    font-size: 65px;
    color: #6d3405;
}
.homeMyStoryPara{
    width: 80%;
    font-size: 18px;
}