.checkoutDetails{
    background-color: #F8EDDC;
    border: 2px solid red;
    
}
.checkoutheadingColor{
    color: #412814;
}
.checkoutSubHeading{
    color: #8A7764;
    font-size: 15px;
}
.checkoutFontColor{
    color: #8B5E35;
}
.checkoutPromoCodeBox{
    border: ;
}