.checkoutMainBox{
    display: flex;
    flex-direction: row;
}
.checkoutDetails{
    background-color: #F8EDDC;
}
.checkoutheadingColor{
    color: #412814;
}
.checkoutSubHeading{
    color: #8A7764;
    font-size: 15px;
}
.checkoutFontColor{
    color: #8B5E35;
}
.checkoutPromoCodeBox{
    border: 2px solid #DAC8B4;
}
.checkoutPromoCodeBox>input{
    border: none;
    width: 75%;
    padding: 9px 25px;
}
.checkoutPromoCodeBox>button{
    border: none;
    width: 25%;
    border-left: 2px solid #DAC8B4;
    color: #412814;
    font-weight: bold;
    padding: 9px 25px;
    background-color: white;
}
.checkoutBuyButton{
    padding: 9px 25px;
    border-radius: 25px;
    border: none;
    background-color: #8B5E35;
    color: white;
    border: 2px solid #8B5E35;
}
.checkoutBuyButton:hover{
    background-color: white;
    border: 2px solid #8B5E35;
    color: #8B5E35;
    font-weight: bold;
}
.checkoutPromoCodeBox>button:hover{
    background-color: #412814;
    color: white;
}
.checkoutIconSizes{
    width: 18px;
    height: 18px;
}
.checkoutCheckIcon{
    width: 12px;
    height: 12px;
}
.checkoutSelectSize{
    border: 1px solid #412814;
    color: #412814;
    background-color: transparent;
}
.checkoutDataContainer{
    border-bottom: 1px solid #DAC8B4;
    height: fit-content;
}