.bannerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.bannerImage {
  width: 100%;
  height: auto;
  z-index: 1;
}

.bannerContent {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  z-index: 10; 
}
.bannerHeading{
  text-align: left;
}
.bannerHeading > p {
  font-size: 22px;
  color: white;
}

.bannerHeading > h1 {
  font-size: 50px;
}

.bannerButton {
  background-color: #d9a05b;
  color: white;
  font-weight: 500;
  font-size: 16px;
  margin-top: 2%;
  border: none;
  padding: 10px 50px;
  border-radius: 30px;
  cursor: pointer;
}
.bannerButton:hover{
  background-color: white;
  col
}
/* Media Queries */

@media only screen and (max-width: 768px) {
  .bannerHeading > h1 {
    font-size: 36px;
  }

  .bannerButton {
    padding: 10px 30px;
    font-size: 14px; 
  }
}

@media only screen and (max-width: 480px) {
  .bannerHeading > p {
    font-size: 12px;
  }

  .bannerHeading > h1 {
    font-size: 16px;
  }

  .bannerButton {
    padding: 5px 20px;
    font-size: 12px;
  }
}
