.footerparentdiv{
    background-color: #412814;
}
.footerContainer{
    height: fit-content;
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
}
.headingPolicies{
    text-align: left;
}
.headingPolicies>ul>li{
   list-style-type: none;
   margin-top: 4%;
}
.headingPolicies>ul>li>a{
    text-decoration: none;
    color: white;
}
.headingPolicies>h5{
    margin-left: 10%;
}
.headingGetinTouch>h5{
    margin-left: 7%;
}
.headingOverview>h5{
    margin-left: 13%;
}
.footercalldiv{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 2%;
}
.footercalldiv>img{
    width: 20px;
    height: 22px;
    margin-left: 7%;
    align-items: center;
}
.footercalldiv>p{
    margin-left: 6%;
    color: white;
}
.footercalldiv
.footerSocialIcons{
    margin-top: 4%;
    padding-left: 7%;
    display: flex;
    flex-direction: row;
    column-gap: 5%;
}
.footerSocialIcons > a >img{
    width: 35px;
    height: 35px;
}

@media only screen and (max-width: 768px) {
    .footerContainer{
        flex-direction: column;
    }
    .footercalldiv>img{
        margin-left: 5%;
    }
    .headingPolicies{
        margin-top: 0% !important;
    }
    .headingPolicies>h5{
        margin-left: 5%;
    }
    .headingPolicies1>h5{
        margin-left: 5%;
    }
    .footerSocialIcons{
        padding-left: 5%;
    }
    .headingPolicies>ul>li{
        list-style-type: none;
        margin-top: 1%;
     }
  
  }
  
