.mainContainerAS{
  margin-bottom: 7%;
}
.alsoLikesCards{
    border: 1px solid #D9A05B !important;
}
.alsoLikeCardContent{
    background-color: #FBF5EA;
}
.alsoLikeitemscolor{
    color: #8B5E35;
}

.alsoLikeHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: fit-content;
  }
  
  .alsoLikeHeading > img {
    height: 25px;
    width: 25px;
    margin: auto;
  }
  .sellerposition{
    position: relative;
  }
  .wishlistIconalsoLike{
    height:30px;
    width: 30px;
    position: absolute;
    right: 4%;
    top: 3%;
  }
  .wishlistIconalsoLike:hover{
    cursor: pointer;
  }