.mainContainerCR{
  margin-bottom: 5%;
  margin-top:3%;
}


.customerReviewHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: fit-content;
  }
  
  .customerReviewHeading > img {
    height: 25px;
    width: 25px;
    margin: auto;
  }
  .pinkFontColor{
    color: #FBF5EA;
  }
  .brownBackground{
    background-color: #8B5E35;
    /* border-radius: 5px; */
  }

.crRatings{
  align-items: center;
  justify-content: center;
}
.crRatings>h2{
  font-size: 55px;
}
.crRatings>h4{
  font-size: 25px;
  margin-top: 28%;
}
.crReviewBox>h4{
  font-size: 25px;
  color: #412814;
}
.crReviewBox>p{
  font-size: 18px;
}


progress {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 14px;
  border-radius: none;
  background-color: #f5f5f5;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: #E5D7C6;
}

progress::-webkit-progress-value {
  background-color: #8B5E35; /* Change the color to #412814 */
  border-radius: none;
}

progress::-moz-progress-bar {
  background-color: #8B5E35; /* Change the color to #412814 */
  border-radius: 10px;
}

.progressbarHeading{
  color:#e7cfb3;
  text-align: left;
  width: 100%;
}


.progressbarResult{
  color:#e7cfb3;
  font-size: 12px;
}
.reviewBox{
  border: 1px solid #8B5E35;
  outline: none;
  background-color: #FBF5EA;
}
.reviewBox::placeholder{
  color: #E5D7C6;
  padding: 5px;
}

.review-card {
  border: 1px solid #E5D7C6;
  padding: 20px;
  background-color: #FBF5EA;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 32%;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  flex-grow: 1;
  text-align: left;
}

.user-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.user-rating {
  color: gold;
}

.star {
  font-size: 20px;
}

.review-content {
  margin-top: 10px;
  text-align: left;
}
.reviewBoxContainer{
  column-gap: 4%;
}
.submitReviewButton{
  background-color: #412814;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 1.5%;
}
.reviewButtonDiv{
  width: 100%;
  text-align: right;
}
.viewAllButtonCR{
  color: #8B5E35;
  font-weight: bold;
  font-size: 17px;
}

@media screen and (max-width: 1280px){
  
  .reviewBox{
    width: 94%;
  }
}

@media screen and (max-width: 1280px) {
  .trackOrderOptions {
      width: 34%;
  }
  .progress-container{
      width: 25%;
  }

}


@media screen and (max-width: 1024px) {

  .trackOrderContainer{
      flex-direction: column;
  }
  .trackOrderRightContainer{
      width: 100%;
  }
  .trackOrderOptions {
      width: 33%;
  }
  .progress-container{
      width: 21%;
  }

}

@media screen and (max-width: 768px) {
  .trackOrderLeftContainer{
      width: 35%;
      margin: auto;
  }
  .trackOrderContainer{
      flex-direction: column;
  }
  .trackOrderRightContainer{
      width: 100%;
  }
  .trackOrderOptions {
      width: 47%;
  }
  .progress-container{
      width: 32%;
  }

}

@media screen and (max-width: 480px) {
  .TrackOrderOptionsDiv{
      flex-direction: column;
  }
  .trackOrderOptions {
      width: 100%;
  }
  .progress-container{
      width: 100%;
  }
  .tarckingMainContainer{
      flex-direction: column;
  }
}