.trackOrderHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    width: fit-content;
  }
  
.trackOrderHeading > img {
    height: 25px;
    width: 25px;
    margin: auto;
  }

.trackOrderContainer{
    border: ;
}