.mainBannerContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
  }
  
  .mainBannerImage {
    width: 100%;
    height: auto;
    z-index: 1;
  }
  
  .mainBannerContent {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    z-index: 10; 
  }
  .mainBannerHeading{
    text-align: left;
    width: 80%;
  }
  .mainBannerHeading > p {
    font-size: 22px;
    color: white;
  }
  
  .mainBannerHeading > h1 {
    font-size: 50px;
  }
  
  .mainBannerButton {
    background-color: #d9a05b;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-top: 2%;
    border: none;
    padding: 10px 50px;
    border-radius: 30px;
    cursor: pointer;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 768px) {
    .mainBannerHeading > h1 {
      font-size: 36px;
    }
  
    .mainBannerButton {
      padding: 10px 30px;
      font-size: 14px; 
    }
  }
  
  @media only screen and (max-width: 480px) {
    .mainBannerHeading > p {
      font-size: 12px;
    }
  
    .mainBannerHeading > h1 {
      font-size: 16px;
    }
  
    .mainBannerButton {
      padding: 5px 20px;
      font-size: 12px;
    }
  }
  