.wishListHeading{
  text-align: left;
}
.wishListSubHeading>a {
  color: #D9A05B;
  text-decoration: none;
}

.wishlistCardsCards{
    border: 1px solid #D9A05B !important;
}
.wishlistCardContent{
    background-color: #FBF5EA;
}
.wishlistCarditemscolor{
    color: #8B5E35;
}

.wishlistCardHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 7%;
    width: fit-content;
  }
  
  .wishlistCardHeading > img {
    height: 25px;
    width: 25px;
    margin: auto;
  }
  .wishlistCardposition{
    position: relative;
  }
  .wishlistDeleteBtn{
    height:15px;
    width: 12px;
    position: absolute;
    right: 4%;
    top: 3%;
  }
  .wishlistDeleteBtn:hover{
    cursor: pointer;
  }
  .WishlistAddCartBtn{
    background-color: #8B5E35;
    color: white;
    border: 2px solid #8B5E35;
    padding: 9px 23px;
    cursor: pointer;
  }
  .WishlistAddCartBtn:hover{
    color: #8B5E35;
    background-color: white;
    border: 2px solid #8B5E35;
  }